.terminal-2{
    position: fixed;
    width: 49.5%;
    left:50%;
    bottom: 1%;
    height: 220px;
    border: 3px solid green;
}
.terminal-1{
    position: fixed;
    width: 49%;
    bottom: 1%;
    height: 220px;
    border: 3px solid green;
}
.env-position1{
    position: absolute;
    left: 73%;
    top: 13%;
    height: 63px;
    width: 70px;

    
}
.laptop_1{
    position:absolute;
    left: 75%;
    top: 10%
}

.laptop_2{
    position:absolute;
    left:17%;
    top:10%;
}

.env-position2{
    visibility: hidden;
    position: absolute;
    left:35%;
    top: 55%;
    height: 63px;
    width: 70px;

}
.line-1{
    position: absolute;
    top:35%;
    left:50%;
    transform: rotate(145deg);
    height: 150px;
    width: 450px
}


.router_1{
    position:absolute;
    left: 45%;
    top: 50%;
}

.r_192_168_32_1{
  animation: drive 4s ease-in-out 1s 1 both alternate;
}

@keyframes drive{
  0%{top:13%;left: 73%;}
  100% {top: 53%; left: 52%;}
}